<div class="Nosotros" id="Nosotros">
  <div class="barra" data-aos="fade-down">
    Válvulas <span>+</span> Ingeniería <span>+</span> Actuadores <span>+</span> Instrumentación
    <span>+</span> Iluminación <span>+</span> Soluciones
  </div>

  <div class="content_nosotros">
    <div class="sub_1">
      <img data-aos="fade-right" src="/img_nosotros.jpg" alt="" />
    </div>
    <div class="sub_2" data-aos="fade-right">
      <span>-- NOSOTROS</span>
      <h2 data-aos="fade-right">
        <span>La mejor opción</span> en soluciones <br /> electromecánicas.
      </h2>
      <p data-aos="fade-right">
        Somos una empresa joven, con personal altamente capacitado y con más de
        10 años de experiencia. Fundada el 31 de enero de 2013, con el firme
        propósito de atender las necesidades de la industria minera, generación
        de electricidad, entre otros. Nuestra misión es proveer productos y
        servicios de la más alta calidad a precios competitivos, cumpliendo con
        los estándares de calidad que nuestros clientes requieren.
      </p>

      <div class="counts" data-aos="fade-up">
        <div class="counts_1">
          <span>500+</span><br /> Proyectos Completados
        </div>
        <div class="counts_2">
          <span>122+</span><br /> Ingenieros Expertos
        </div>
        <div class="counts_3">
          <span>99%</span><br /> Clientes Satisfechos
        </div>
      </div>
    </div>
  </div>

  <style>
    .barra span {
      color: #cfc332;
    }

    .barra {
      margin-bottom: 4rem;
      background: #329430;
      text-align: center;
      font-size: clamp(1rem, 2vw, 2rem);
      font-weight: 700;
      padding: 1rem;
      color: #fff;
    }

    .content_nosotros {
      padding: 0rem 5rem 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }

    .sub_1 img {
      width: 20rem;
      object-fit: cover;
      object-position: left;
      height: 30rem;
      border-radius: 7rem;
    }
    .sub_2 p {
      width: 80%;
      font-size: clamp(1rem, 1.6vw, 2rem);
    }

    .sub_2 span {
      font-weight: 600;
    }

    .sub_2 h2 {
      font-size: 2rem;
      margin: 0.3rem 0rem;
    }
    h2 span {
      color: #329430;
    }

    /* ------------counts----------- */
    .counts {
      display: inline-flex;
      gap: 4rem;
      text-align: center;
      margin: 1rem 0rem;
    }
    .counts span {
      font-size: clamp(1.8rem, 4vw, 2.5rem);
      color: #329430;
    }

    @media (max-width: 892px) {
      .sub_1 img {
        display: none;
      }
      .content_nosotros {
        gap: 0rem;
        text-align: center;
      }

      .sub_2 p {
        margin: 1rem auto;
        width: 95%;
      }
    }

    @media (max-width: 676px) {
      .content_nosotros {
        padding: 1rem 1.6rem;
      }
    }

    h2 {
      margin: 1.5rem 0rem;
    }

    .counts {
      gap: 2rem;
    }
  </style>
</div>
