<div class="Nosotros" id="Nosotros">
  <div class="sec1"><img src="/nos.webp" alt="" /></div>
  <div class="sec2">
    <h2>LA MEJOR OPCION EN SOLUCINES ELECTROMECANICAS</h2>
    <p>
      Somos una empresa joven, con personal altIamente capacitado y con mas de
      10 años de experiencia. Fundada el 31 de enero del 2013 con el firme
      proposito de atender las nesesidades de la industria minera generacion de
      electricidad, entre otros. Nuestra Mision es proveer productos y servisioa
      de las alta calidad a precios pompetitivos, cumpliendo con los estandares
      de calidad que nuestos clientes requieren.
    </p> 
<hr >
    <div class="count">
      <div class="count-item">
        <h3 data-aos="fade-up">70+</h3>
        <p>Proyectos Compleados</p>
      </div>
<hr>
      <div class="count-item">
        <h3 data-aos="fade-up">120+</h3>
        <p>Ingeniero Experto</p>
      </div>
      <hr>
        <div class="count-item">
        <h3 data-aos="fade-up">500+</h3>
        <p>Clientes satisfechos</p>
      </div>
    </div>
  </div>
</div>

<style>

  .Nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
  }

  .sec1 img {
    width: 90%;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sec2 {
    max-width: 600px;
  }

  .sec2 h2 {
    font-size: clamp(1.7rem, 4vw, 2.1rem);
    color: #000000;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .sec2 p {
    font-size: 1rem;
    color: #333333a7;
    line-height: 1.6;
  }

  .count {
    display: flex;
    gap: 35px;
    text-align: center; 
  }
 

  .count-item h3 {
    font-size:clamp(1.7rem, 4vw, 2.2rem);
    color: #329430;
    margin-bottom: 0px;
    font-weight: 800;
  }

  .count-item p {
    font-size: clamp(0.9rem, 4vw, 1.1rem);
    color: #333333a7;
    margin-top: 5px;
  }
.count hr {
    width: 2px;
    background-color: #ccc;
    border: none;
    height: 70px;
    align-self: center;
  }

  @media (max-width: 768px) {
    .Nosotros {
      flex-direction: column;
      padding: 20px;
    }

    .sec2 {
      max-width: 100%;
      margin-top: 20px;
    }
    .count {
      
      gap: 15px;
    }
  }
</style>
