<div class="Articles" id="Productos">
  <b  data-aos="fade-up">-- PRODUCTOS</b>
  <h4  data-aos="fade-up">PRINCIPALES <span>ARTCÍULOS</span></h4>
  <div class="princ_articles">
    <div class="art_1" data-aos="fade-down">
      <img src="../../public/Valvulas.jpg" alt="" />
      <h5  data-aos="fade-down">Válvulas</h5>
      <p  data-aos="fade-down">
        Equipos industriales diseñados para controlar, regular o detener el
        flujo de líquidos y gases en tuberías. Son esenciales en procesos de
        gran escala donde la seguridad y eficiencia operativa son prioridad.
      </p>
     <a href="https://www.dezurik.com/"><button  data-aos="fade-up">Ver más...</button></a> 
    </div>
    <div class="art_2" data-aos="fade-down">
      <img src="../../public/Actuadores.jpg" alt="" />
      <h5  data-aos="fade-down"> Actuadores Electricos</h5>
      <p  data-aos="fade-down">
        Dispositivos que automatizan la apertura y cierre de válvulas
        industriales mediante energía eléctrica. Garantizan precisión,
        confiabilidad y reducción de intervención manual en plantas y sistemas
        críticos.
      </p>
     <a href="https://www.flowserve.com/Products/Heritage-Brands/Limitorque"> <button  data-aos="fade-up">Ver más...</button></a>
    </div>
    <div class="art_3" data-aos="fade-down">
      <img src="../../public/Instrumentacion.jpg" alt="" />
      <h5  data-aos="fade-down">Instrumentacion</h5>
      <p  data-aos="fade-down">
        Conjunto de equipos utilizados para medir, monitorear y controlar
        variables de procesos industriales como presión, temperatura, caudal y
        nivel. Aseguran la optimización y seguridad en operaciones de alta
        exigencia.
      </p>
      <button data-aos="fade-up">Ver más...</button>
    </div>
  </div>
</div>
<style>
  .Articles {
    text-align: center;
    padding: 3rem 0rem 5rem;
  }

  .Articles h4 {
      font-size: clamp(1.7rem,8vw,2.9rem);
  }

  .Articles h4 span {
    color: #329430;
  }
  .princ_articles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    padding: 0rem 5rem;
  }

  .princ_articles img {
    width: 10rem;
    border-radius: 50%;
    padding: 1rem;
    background: #329430;
  }

  .princ_articles h5 {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.9rem 0rem;
  }

  .princ_articles p {
    margin: 1.5rem 0rem;
    font-size: 0.9rem;
  }

  .princ_articles button {
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
    border-radius: 1.2rem;
    border: 0px #b99292 solid;
    background: #cfc332;
    font-weight: 600;
  }

@media (max-width: 988px) {
  .princ_articles {
    flex-wrap: wrap;
    padding: 0rem 2rem;
  }
  }
</style>
