<div class="engenier" id="Servicios">
  <span>SERVICIOS E INGENERIA</span>
  <h3 data-aos="fade-up">
    SOLUCIONES INTEGRALES <br /> PARA LA <span>INDUSTRIA</span>
  </h3>

  <div class="actividades">
    <div class="act">
      <img src="../Icons/electridad.webp" alt="Actividad 1" />
      <p>OBRA ELÉCTRICA</p>
    </div>
    <div class="act">
      <img src="../Icons/brazoRobotico.webp" alt="Actividad 2" />
      <p>​AUTOMATIZACIÓN</p>
    </div>
    <div class="act">
      <img src="../Icons/Herramientas.webp" alt="Actividad 3" />
      <p>OBRA MECÁNICA</p>
    </div>
    <div class="act">
      <img src="../Icons/Mantenimiento.webp" alt="Actividad 4" />
      <p>MAQUINADOS Y FABRICACIÓN DE PIEZAS METÁLICAS</p>
    </div>
    <div class="act">
      <img src="../Icons/Soldadura.webp" alt="Actividad 5" />
      <p>SOLDADURA</p>
    </div>
    <div class="act">
      <img src="../Icons/maquinaria.webp" alt="Actividad 6" />
      <p>ESTRUCTURAL</p>
    </div>
    <div class="act">
      <img src="../Icons/civil.webp" alt="Actividad 7" />
      <p>OBRA CIVIL Y TRABAJOS DE REMODELACIÓN INDUSTRIAL</p>
    </div>
    <div class="act">
      <img src="../Icons/grua.webp" alt="Actividad 8" />
      <p>MONTAJES</p>
    </div>
    <div class="act">
      <img src="../Icons/Mantenimiento.webp" alt="Actividad 9" />
      <p>MANTENIMIENTOS</p>
    </div>
    <div class="act">
      <img src="../Icons/grua-.webp" alt="Actividad 10" />
      <p>​GRÚAS</p>
    </div>
    <div class="act">
      <img src="../Icons/aireAcondicionado.webp" alt="Actividad 11" />
      <p>AIRES ACONDICIONADOS, HORNOS, COMPRESORES Y SECADORAS</p>
    </div>
    <div class="act">
      <img src="../Icons/laser.png" alt="Actividad 11" />
      <p>CORTE LASER</p>
    </div>
  </div>
</div>
<style>
  .engenier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 6rem 0rem;
  }
  span {
    font-size: 1rem;
    color: #00000075;
    font-weight: 600;
    margin-bottom: 15px;
  }

  h3 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: #000000;
    font-weight: 700;
    margin: 0px;
  }

  h3 span {
    color: #329430;
    font-size: 2.5rem;
  }

  .actividades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3rem;
    width: 100%;
    max-width: 1000px;
  }

  .act {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #e0e0e000;
    border-radius: 8px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    background-color: #cd0c0c00;
  }

  .act:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .act img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .act p {
    font-size: 0.8rem;
    color: #181818;
    font-weight: 800;
  }

  @media (max-width: 785px) {
 
    .actividades {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
</style>
