<div class="services" id="ServiciosIngeneria">
  <h4 data-aos="fade-up">-- SERVICIOS E INGENERÍA</h4>
  <div class="titleServices">
    <h3 data-aos="fade-up">
      Soluciones Integrales <br />
      <span>Para la construcción</span>
    </h3>

    <a href="#Productos"><button data-aos="fade-up">Ver productos</button></a>
  </div>
  <div class="cards">
    <div class="cards1 card_iti" data-aos="fade-up">
      <div class="one" data-aos="fade-up">
        <h4>INGENERÍA</h4>
        <p>
          Servicios de Automatización, Mantenimientos Industriales de
          Instrumentación, Mecánicos, Eléctricos, Obra Civil, Soldadura,
          Pailería, etc. Ofrecemos servicios de automatización, mantenimientos
          industriales en las áreas de instrumentación, mecánica, eléctrica,
          obra civil, soldadura y pailería, entre otros.
        </p>
      </div>
    </div>
    <div class="cards2 card_iti" data-aos="fade-up">
      <div class="one" data-aos="fade-up">
        <h4>ILUMINACION LED</h4>
        <p>
          Contamos con una amplia variedad de iluminación LED de uso industrial
          y doméstico. Realizamos cálculos, desarrollos, ingeniería y todo lo
          necesario para la implementación de iluminación LED.
        </p>
      </div>
    </div>
  </div>
</div>
<style>
  .services {
    padding: 4rem 8rem;
  }

  .services h4 {
    font-weight: 600;
    margin: 0rem;
  }

  .titleServices {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .titleServices h3 {
    font-size: clamp(1.8rem, 6vw, 3rem);
  }

  .titleServices h3 span {
    color: #cfc332;
  }

  button {
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: 550;
    border: 0px #ffffff00 solid;
    padding: 0.6rem 1rem;
    border-radius: 12rem;
    background: #cfc332;
  }

  /* -------------cards------------- */

  .cards {
    display: flex;
    gap: 7rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
  }
  .card_iti {
    border-radius: 2rem;
    width: 22rem;
    height: 23rem;
    border: 12rem;
    padding: 0.8rem;
    position: relative;
    color: #fff;
  }
  .one {
    position: absolute;
    bottom: 1.3rem;
    background: blur(5px);
    color: #ffffff;
    max-width:  20rem;
    min-width: 11rem;
    padding: 1rem 1rem 1rem 1rem;

    border-radius: 1rem;
    backdrop-filter: blur(20px);
    text-align: center;
  }

  .one h4 {
    color: #ffffff;
    font-size: clamp(.9rem, 3vw, 1.4rem);
  }
  .cards1 {
    background-image: url(/Servicios_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cards2 {
    background-image: url(/card_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 1183px) {
    .cards {
      gap: 4rem;

      flex-wrap: wrap;
    }
    .services {
      padding: 4rem 2rem;
    }
  }

  @media (max-width: 785px) {
    .services {
      padding: 4rem 2rem;
    }
    h4 {
      text-align: center;
    }
    .titleServices {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    .cards {
      gap: 2rem;
    }
  }
</style>
