<footer>
  <div class="titles">
    <h4>TECHNOELECTRIC</h4>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#Nosotros">Nosotros</a></li>
        <li><a href="#Servicios">Servicios</a></li>
        <li><a href="#Distribuciones">Distribuciones</a></li>
      </ul>
    </nav>
  </div>
  <div class="info">
    <p>
      administracion@technoelectric.mx <br />
      +52 861 612 9309 <br />
      <br />​Calle Zaragoza #1850 PTE Colonia Del Valle, C.P. 26788 <br />
      Sabinas, Coahuila de Zaragoza
    </p>
  </div>
  <hr />
  <div class="cuadro-ama">
    <p>Copyright @ 2025 | TECHNOELECTRIC | TODOS LOS DERECHOS RESERVADOS</p>
    <div class="redes">
      <a href="https://www.facebook.com/share/1CURps1ush/">
        <img
          class="img-1"
          src="/facebook.png"
          alt="Facebook Icon"
          width="30"
          height="30"
        />
      </a>
      <a href="">
        <img
          class="img-1"
          src="/maps.png"
          alt="Instagram Icon"
          width="30"
          height="30"
        />
      </a>
      <a
        href="https://www.instagram.com/technoelectriccolombia/"
        rel="noopener noreferrer"
      >
        <img
          class="img-1"
          src="/phone.png"
          alt="Instagram Icon"
          width="30"
          height="30"
        />
      </a>
    </div>
  </div>
</footer>
<style>
  footer {
    padding: 8rem 2rem 3rem;
    text-align: center;
  }

  .titles h4 {
    margin: 0;
    font-size: clamp(2rem, 4vw, 3rem);
  }

  .titles {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }

  nav ul li {
    display: inline;
    margin: 0 15px;
  }

  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }

  .info p {
    font-size: 14px;
    text-align: left;
  }

  .cuadro-ama {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .redes {
    margin-top: 10px;
  }

  .redes a {
    margin: 0 10px;
    color: #fff;
  }

  @media (max-width: 768px) {
    footer {
      padding: 4rem 0.5rem 2rem;
    }

   nav ul li {
      font-size: 14px;
      margin: 0 10px;
    }

    .cuadro-ama {
      flex-direction: column;
      gap: 15px;
    }

    .titles {
      flex-direction: column;
      gap: 15px;
    }

    .info p {
      text-align: center;
    }
  }
</style>
