<div class="services">
  <h4 data-aos="fade-right" id="Servicios">-- SERVICIOS</h4>
  <div class="titleServices">
    <h3 data-aos="fade-right">
      Explora nuestros sitios <br />
      <span>en construcción</span>
    </h3>

    <a href="#ServiciosIngeneria"
      ><button data-aos="fade-right">Ver Servicios e Ingenería</button></a
    >
  </div>
  <div class="cards">
    <div class="cards1 card_iti" data-aos="fade-down">
      <div class="one" data-aos="fade-down">
        <h4>Construccion 1</h4>
        <p>
          Dedicados a la industria minera, nos especializamos en la
          implementación de estructuras modernas, cumpliendo rigurosamente con
          los estándares globales de calidad y desempeño.
        </p>
      </div>
    </div>
    <div class="cards2 card_iti" data-aos="fade-down">
      <div class="one" data-aos="fade-down">
        <h4>Construccion 2</h4>
        <p>
          Ofrecemos soluciones integrales para la minería que integran
          tecnología avanzada, resistencia prolongada y bajo costo de
          mantenimiento.
        </p>
      </div>
    </div>
    <div class="cards3 card_iti" data-aos="fade-down">
      <div class="one" data-aos="fade-down">
        <h4>Construccion 3</h4>
        <p>
          Dedicados a la industria minera, nos especializamos en la
          implementación de estructuras modernas, cumpliendo rigurosamente.
        </p>
      </div>
    </div>
  </div>
</div>
<style>
  .services {
    background: #329430;
    padding: 4rem 8rem;
  }

  .services h4 {
    color: #fff;
    font-weight: 600;
    margin: 0rem;
  }

  .titleServices {
    display: flex;
    justify-content: space-between;

    align-items: center;
  }

  .titleServices h3 {
    color: #fff;
    font-size: clamp(1.8rem, 6vw, 3rem);
  }

  .titleServices h3 span {
    color: #cfc332;
  }

  button {
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: 550;
    border: 0px #ffffff00 solid;
    padding: 0.6rem 1rem;
    border-radius: 12rem;
    background: #cfc332;
  }

  /* -------------cards------------- */

  .cards {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    flex-wrap: wrap;
  }

  .card_iti {
    border-radius: 2rem;
    max-width: 17rem;
    min-width: 15rem;
    height: 23rem;
    border: 12rem;
    padding: 0.8rem;
    position: relative;
    color: #fff;
  }

  .one {
    position: absolute;
    bottom: 1.3rem;
  }
  .one h4 {
    color: #cfc332;
    font-size: 1.6rem;
  }
  .cards1 {
    background-image: linear-gradient(
        #c5212100 30%,
        #00000086 40%,
        #000000f3 90%
      ),
      url(/card_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cards2 {
    background-image: linear-gradient(
        #c5212100 30%,
        #00000086 40%,
        #000000f3 90%
      ),
      url(/card_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cards3 {
    background-image: linear-gradient(
        #c5212100 30%,
        #00000086 40%,
        #000000f3 90%
      ),
      url(/card_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 1183px) {
    .cards {
      gap: 4rem;

      flex-wrap: wrap;
    }
    .services {
      padding: 4rem 2rem;
    }
  }

  @media (max-width: 785px) {
    .services {
      background: #329430;
      padding: 4rem 2rem;
    }
    h4 {
      text-align: center;
    }
    .titleServices {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    .cards {
      gap: 2rem;
    }
  }
</style>
