
<div id="container">
  <!-- Seccion 1 contacto -->
  <div class="Sec1" >
    <div class="contac" data-aos="fade-right">
      <a href="tel: 861 612 8990"
        ><img src="/Icons/phone-regular-36.png" alt="" />861 612 8990</a
      >
      <a href="mailto:technoelectricComunicacion@gmail.com"
        ><img
          src="/Icons/envelope-regular-36.png"
          alt=""
        />technoelectricComunicacion@gmail.com</a
      >
    </div>
    <div class="redes" data-aos="fade-right">
      <a href="https://www.facebook.com/ComercializadoraTechnoelectric?locale=es_LA"><img src="/Icons/facebook-logo-36.png" alt="" /></a>
      <a href="tel:861 612 8990"><img src="/Icons/phone-regular-36.png" alt="" /></a>
      <a href="https://maps.app.goo.gl/xHkD2G49mZLwGXB88"><img src="/Icons/map-regular-36.png" alt="" /></a>
      <a href="mailto:ventas@technoelectric.mx"><img src="/Icons/envelope-regular-36.png" alt="" /></a>
    </div>
  </div>

  <!-- seccion 2 menu -->
  <div class="Sec2" data-aos="fade-down">
    <img
      src="/LogoTechnoelectric.png"
      alt="Technoelectric LogoTechnoelectric"
    />
    <nav>
      <ul data-aos="fade-down">
        <a href="#"><li>Inicio</li></a>
        <a href="#ServiciosIngeneria"><li>Servicios</li></a>
        <a href="#Servicios"><li>Proyectos</li></a>
        <a href="#contacto"><li>Contacto</li></a>
      </ul>
    </nav>
    <a href="#contacto"><button>Contactanos</button></a>
  </div>

  <div class="Sec3">
    <div class="sub1">
      <div class="eficiencia"  data-aos="fade-right" >
        <img src="/Icons/cog-solid-36.png" alt="" />
        <p>Eficiencia y confianza en cada soluci칩n electromec치nica</p>
      </div>
      <div class="title">
        <h1 data-aos="fade-right" > <span >Comerzializadora</span> Technoelectric  <br/> s.a de c.v</h1>
        <p data-aos="fade-right"> 
          Soluciones inteligentes para un mundo en movimiento, adaptadas a los
          cambios constantes y enfocadas en generar valor, eficiencia y
          crecimiento sostenible.
        </p>
      </div>

	  <div class="buts">
		 <a href="#Nosotros" data-aos="fade-down"><button>Explorar m치s...</button></a>
		<a href="#Servicios"><button data-aos="fade-up" class="but_esp"> <u>Ver m치s servicios</u> </button></a>
    
	  </div>
    </div>
    <div class="sub2">
      <img src="/fotow.png" alt="">
    </div>
  </div>
</div>

<style>
  /* -----------------------seccion 1------------------- */
  .contac {
    text-align:;
  }

  .contac a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 0rem 1rem;
  }

  .Sec1 {
    padding: 0.5rem 3rem;
    background: #329430;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .redes{
    display: inline-flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

.redes a{
  display: inline-flex;
  border: .2rem #cfc332 solid;
  border-radius: 100%;
  padding: .2rem;
}
.Sec1 img{
  width: 1.7rem;
   
}

.Sec1 .redes img{
   filter: invert(100%) brightness(800%);
}

  /* -----------------------seccion 2------------------- */

  .Sec2 {
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: 10rem;
    justify-content: center;
  }

  .Sec2 nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0rem;
    margin: 0rem;
  }

  .Sec2 img {
    width: 13rem;
    margin: .5rem 0rem;
  }

  .Sec2 a {
    text-decoration: none;
    color: #000;
  }
  button {
    border-radius: 12rem;
    padding: 0.5rem 1.2rem;
    border: 0rem #ffffff solid;
    background: #cfc332;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
  }


    /* -----------------------seccion 3------------------- */

  
.Sec3 {
  display: flex;
  gap: 5rem;
  padding: 3rem 5rem;
  background: #f6f6f6;
}


.sub2 img{
  width: clamp(12rem, 30vw, 30rem); height: auto;  
}

.eficiencia img{
  width: 1.8rem
}

  .eficiencia{
    padding: 0rem 1rem;
      background: #ffffff;
      display: inline-flex;
      align-items: center;
      text-align: start;
      border-radius: 2rem;
      gap: 1rem;
      font-size: clamp(.9rem,1.2vw,2rem);

    }

    .title h1{
      font-size: clamp(2.2rem,6vw,4rem);
      margin: 0.8rem 0rem;
    }
    .title h1 span{
      color:#329430;
    }


.but_esp{
  background: #ffffff00;
}

.buts{
  margin: 2rem 0rem  0rem ;
}


/* -----------Medias Queries------------- */

@media (max-width: 1009px) {
 .sub2 img{
  display: none;
 }

  .Sec2 {
    gap: 5rem;
  }
}

@media (max-width: 868px) {
.Sec3{
  text-align: center;
}

.Sec1 .contac{
  display: none;
}
.Sec1{
  justify-content: center
}
.Sec2 button{
  display: none;
}
.Sec3 {
  gap: 0rem;
}

}

@media (max-width: 733px) {

.Sec2 {
flex-direction: column;gap: 0rem;
}

.Sec2 nav{
  display: none;

}

.Sec3 {
  padding: 3rem .9rem;
}

}

</style>
