<div class="container">
 

  <h2>
    MONTAJE <span>ESTRUCTURAL,</span>
    <br />
    <span>MANTENIMIENTOS</span> Y CONSTRUCCION<br /> DE NAVES <span
      >INDUSTRIALES.</span
    >
  </h2>

  <p>
    Brindamos servicios integrales de mantenimiento industrial, fabricación y
    laminación estructural, corte láser, obra civil, remodelaciones,
    subestaciones eléctricas y automatización industrial.
  </p>
  <a href="#contacto"><button>​¡COTIZA TU PROYECTO AQUÍ!</button></a>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    text-align: initial;
    padding: 0 50px;
    background-image:
      linear-gradient(to bottom right, #000000d4, #000000d4), url(/portada.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .menu {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 50px;
    padding: 15px 0;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(0.8rem, 2vw, 1rem);
    transition: color 0.3s ease;
    padding: 10px 17px;
    border-radius: 2rem;
  }

  nav ul li a:hover {
    background-color: #f7f7f725;
    color: #37c739;
  }

  .menu img {
    width: 25rem;
  }

  h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: #37c739;
    margin: 0;
    font-weight: 800;
  }

  h2 {
    font-size: clamp(1.9rem, 5vw, 3.6rem);
    /* color: #3cb13a; */
    color: #ffffff;
    margin: 12rem 0rem 20px;
    font-weight: 700;
    text-align: center;
    backdrop-filter: blur(6);
  }

  h2 span {
    color: #ffffff;
  }

  h1 span {
    color: #276627;
  }

  p {
    font-size: clamp(0.8rem, 2.5vw, 1.1rem);
    color: #fff26894;

    max-width: 600px;
    text-align: center;
    margin: 0 auto 40px;
  }

  button {
    background-color: #f7f7f725;
    color: #ffffffaa;
    border: none;
    padding: 15px 30px;
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 800;
    cursor: pointer;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    display: block;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  button:hover {
    background-color: #ffffffe7;
    color: #1e601e;
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 0 20px;
    }
  }
</style>
