<div class="container">

  <div class="menu">
<h1>TECHNO<span>ELECTRIC</span></h1>

<nav>
  <ul>
    <li><a href="#inicio">INICIO</a></li>
    <li><a href="#servicios">SERVICIOS</a></li>
    <li><a href="#proyectos">PROYECTOS</a></li>
    <li><a href="#contacto">CONTACTO</a></li>
  </ul>
</nav>
  </div>


  <h2>MONTAJE ESTRUCTURAL, <br>MANTENIMIENTOS Y CONSTRUCCION<br> DE NAVES INDUSTRIALES.</h2>

  <p>
   Brindamos servicios integrales de mantenimiento industrial,
    fabricación y laminación estructural, corte láser, obra civil,
    remodelaciones, subestaciones eléctricas y automatización industrial.

  </p> 

  <a href="#contacto"><button>​¡COTIZA TU PROYECTO AQUÍ!</button></a>
</div>

<style> 
  .container {
   
  display: flex;
    flex-direction: column;

    
    
    height: 100dvh;
    text-align:initial;
    padding: 0 50px;
    background-image:
      linear-gradient(to bottom right, #000000c4,#000000bc), url(/portada.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.menu {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 30px 0 ;
  } 

  nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(0.8rem, 2vw, 1rem);
    transition: color 0.3s ease;
    padding: 10px 17px;
    border-radius: 2rem;
  } 

  nav ul li a:hover {
      background-color: #f7f7f725;
    color: #cfc232;
  } 
  h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: #ffffff;
    margin: 0;
    font-weight: 800;
  } 



  h2{
    font-size: clamp(2.2rem, 5vw, 3.6rem);
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
  }
  h1 span {
    color: #276627;
  }

  p {
    font-size: clamp(0.8rem, 2.5vw, 1.1rem);
    color: #ffffffa0;
    
    max-width: 600px;
    text-align: center;
    margin: 0 auto 40px;
  }

  button {
    background-color: #f7f7f725;
    color: #cfc232;
    border: none;
    padding: 15px 30px;
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 800;
    cursor: pointer;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    display:flex;
    justify-content: center;
   display:block;
margin: 0 auto; 
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  button:hover {
    background-color: #cfc232;
    color: #0d2d0d;
   
  }
</style>
